<div>
    <p> {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} </p>
    <p> Born on {{ person.birthdate }} </p>
    <p> {{ person.emails }} </p>
    <p> {{ person.phones }} </p>
    <!-- <div>
         {% for email in person.emails %}
         <p> {{ email }} </p>
         {% endfor %}
         </div>
         <div>
         {% for phone in person.phones %}
         <p> {{ phone }} </p>
         {% endfor %}
         </div> -->
    <p> Discord: {{ person.discord }} </p>
    <p> Steam: {{ person.steam}} </p>
    <p> BattleNet: {{ person.battlenet }} </p>
    <p> Instagram: {{ person.instagram }} </p>
    <p> Facebook: {{ person.facebook }} </p>
    <p> Github: {{ person.github }} </p>
    <p> LeagueOfLegends: {{ person.leagueoflegends }} </p>
</div>
